body {
	background-color: #141619;
}


.reloadListButton {
	margin-top: 10px;
	width: 70px;
	height: 40px;
}

.newWorkingListButton {
	margin-top: 10px;
	width: 70px;
	height: 40px;
	margin-left: 30px;
}

.emptyTileDiv {
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
}



.workingForm {
	background-color: gray;
	padding: 10px;
	width: 50%;
	height: 30%;
	margin: auto;
}

.workingFormField {
	padding: 10px;
	width: 80%;
}

.workingFormTextarea {
	padding: 10px;
	width: 80%;
	height: 100px;
}

.workingFormLabel {
	height: fit-content;
	width: fit-content;
	font-size: 24px;
}

.workingFormInline > * {
	display: inline-block;
}

.workingFormCheckbox {
	margin-left: 10px;
	width: 20px;
	height: 20px;
}

.workingFormUploadImage {
	padding-left: 10px;
}




.messageClicks {
	display: inline-block;
}

.messageParagraph {
	width: fit-content;
	height: fit-content;
}


.workingText {
	max-width: 200px;
	width: fit-content;
}

.workingTitle {
	font-size: 20px;
	font-weight: bold;
}

.workingHoverMenu {
	border: 1px solid;
	position: absolute;
	left: 100px;
	width: fit-content;
	height: fit-content;
	visibility: hidden;
}

.workingHoverButton1 {
	position: absolute;
	top: 0px;
	left: 101%;
}
.workingHoverButton2 {
	position: absolute;
	top: 30%;
	left: 101%;
}
.workingHoverButton3 {
	position: absolute;
	top: 60%;
	left: 101%;
}

.workingImage {
	max-height: 80%;
	max-width:  90%;
	height: auto;
	width: auto;
}

.workingTile {
	position: relative;
	background-color: gray;
	border: 2px solid;
	max-height: 30%;
	max-width: 40%;
	height: fit-content;
	width: fit-content;
	display: block;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.workingTile:hover .workingHoverMenu {
	visibility: visible;
}






.workingsList {
	list-style-type: none;
}




.zoomedGif {
	width: 50px;
	height: 50px;
	overflow: hidden;
}

.zoomedGifOnImage {
	width: 50px;
	height: 50px;
	object-position: -10px -10px;
	object-fit: cover;
}
